{% extends 'base.html.twig' %}

{% block title %}Edit FFile{% endblock %}

{% block body %}
    <h1>Edit FFile</h1>

    {{ include('config_f_file/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('config_f_file_index') }}">back to list</a>

    {{ include('config_f_file/_delete_form.html.twig') }}
{% endblock %}
