{% extends 'base.html.twig' %}

{% block title %}Edit LauncherConfig{% endblock %}

{% block body %}
    <h1>Edit LauncherConfig</h1>

    {{ include('config_launcher/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('config_launcher_index') }}">back to list</a>

    {{ include('config_launcher/_delete_form.html.twig') }}
{% endblock %}
